{% import 'bootstrap/wtf.html' as wtf %}
{% from 'bootstrap/wtf.html' import form_field %}
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contactModalLabel">Contact Me
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        {{ form_field(contactForm.name) }}
                        {{ form_field(contactForm.email) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_field(contactForm.message) }}
                    </div>
                </div>
                    <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Send</button> -->
                    {{ form_field(contactForm.submit, button_map={'submit':'primary'}) }}
            </div>
        </div>
    </div>
</div>
